.tableContainer {
    margin-top: 15px;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    color: #20672c;
    background-color: #f5f9fc;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    padding: 10px;
    border: 1px solid #20672c;
    background-color: #509624;
    color: white;
}

.table td {
    padding: 10px;
    border: 1px solid #20672c;
}

.table tr:nth-child(even) {
    background-color: #f5f9fc;
}

.table tr:nth-child(odd) {
    background-color: #e0e6eb;
}
